# ignore all Vivado generated folders (needs to be edited (maybe))
#
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.cache/
*.xpr
*.Xil/

# Keep sources and constraints ip_user_files
!HLS/
!SW/
!HLS/**
!SW/**
